.choiceItem{

}

.choiceLabel{
    
}

.choiceRadio{
    
}

.choiceItem:hover{
    background-color: green;
    cursor: pointer;
}

.choiceLabel:hover{
    cursor: inherit;
}

.choiceRadio:hover{
    cursor: inherit;
}